# Unit file for systemd
[Unit]
Description=Make photos at serial event

[Service]
User=birdgarden
ExecStart=/usr/bin/bash -c '/usr/bin/python /usr/local/birdgarden/serialandphoto.py >> /var/logs/birdgarden/serialandphoto.log 2>&1'

[Install]
WantedBy=multi-user.target
